@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* GLOBAL STYLES */

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0 0 20px 0;
    padding: 0;
}

.btn-primary {
    background-color: #F15B22;
    color: white;
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    box-shadow: 0 0 20px #fd8150;
}



/* HERO-SECTION STYLE */

.hero-section-container {
    padding: 140px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background-image: url('./images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {
    max-width: 500px;
}

.hero-section-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section-desc {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

